<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle>
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="LICENSE"
        ShowVersion="yes"
        />
    </BootstrapperApplicationRef>
    <Chain>
        <ExePackage
            SourceFile="PythonInstaller.exe"
            InstallCommand="/passive InstallAllUsers=1 PrependPath=1" />
    </Chain>
  </Bundle>
</Wix>
